table{
    width: 500px;
    margin: auto;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th{
    background-color: chocolate;
    text-align: center;
}